html {
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  line-height: 2;
  font-szie: 14px;
  font-family: 'Zilla Slab';
}
h1 {
  font-size: 32px;
  font-weight: 600;
  margin: 0.67em 0;
}
h2 {
  font-size: 24px;
  font-weight: 600;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}
h4 {
  font-size: 16px;
  font-weight: 600;
}
h5 {
  font-size: 14px;
  font-weight: 600;
}
h6 {
  font-size: 12px;
  font-weight: 600;
}
p {
  margin-top: 0;
  margin-bottom: 24px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-size: 1em;
}
small {
  font-size: 90%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']-moz-focusring,
[type='reset']-moz-focusring,
[type='submit']-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
dd {
  margin-left: 0;
}
.font {
  font-family: 'justpeth';
  font-size: 32px;
}

.header {
  position: relative;
  z-index: 1;
}
.header-line {
  height: 3px;
  background: #24292e;
}
.header-inner {
  padding: 100px 0 70px;
}
.header .site-name {
  text-align: center;
  user-select: none;
  font-size: 0;
}
.header .site-name-inner {
  display: inline-block;
  padding: 0 16px;
  font-size: 20px;
  background: #24292e;
  color: #fff;
  font-family: 'justpeth';
  width: 72px;
  height: 36px;
}
.header .site-name-text {
  line-height: 36px;
}
.fade-enter,
.fade-appear {
  opacity: 0.01;
  transform: translateY(-30px);
}
.fade-enter-active,
.fade-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease-out;
}


/*# sourceMappingURL=styles.chunk.css.map*/