@import '../../assets/styles/variables.styl'
.darshboard-sider
  box-shadow 0 0 10px $gray-light
.dashboard-logo
  margin $spacer-3
  font-size 22px
  font-family 'justpeth'
  text-align center
  font-weight $font-weight-bold
.dashboard-trigger
  font-size 18px
  line-height 64px
  padding 0  $spacer-4
  cursor pointer
  transition color 0.3s
  color $gray
  &:hover
    color $gray-dark
.dashboard-sitename
  float right
  margin-right $spacer-4
  font-family 'justpeth'
  font-weight $font-weight-bold
  font-size $h3-size
.dashboard-content
  margin $spacer-4 $spacer-3
  padding $spacer-4
  background $white
  overflow-y scroll