@import '../../assets/styles/variables.styl'

.header
  position relative
  z-index 1
  min-height 345px

  &-line
    height 3px
    background $gray-dark

  &-inner
    padding 100px 0 70px

  .site-name
    text-align center
    user-select none
    font-size 0

  .site-name-inner
    display inline-block
    padding 0 $spacer-3
    font-size $h3-size
    background $gray-dark
    color $white
    font-family 'justpeth'
    width 72px
    height 36px

  .site-name-text
    line-height 36px

  .nav-links
    text-align center
    height 48px

  .nav-link
    padding 0 0 $spacer-1
    display inline-block
    margin 0 $spacer-3
    color $gray
    border-bottom 1px solid transparent
    font-size 13px
    cursor pointer
    text-decoration none

    &:hover, &.active
      color $gray-dark
      border-color $gray-dark

  .poetry
    padding $spacer-3 $spacer-3 $spacer-4
    line-height 1.5
    color $gray-light
    font-size $font-size-small
    line-height 2
    text-align center
    min-height 88px

.fade-enter, .fade-appear
  opacity 0.01
  transform translateY(-30px)

.fade-enter-active, .fade-appear-active
  opacity 1
  transform translateY(0)
  transition all 300ms ease-out