@import '../../assets/styles/variables.styl'

.header
  position relative
  z-index 1

  &-line
    height 3px
    background $gray-dark

  &-inner
    padding 100px 0 70px

  .site-name
    text-align center
    user-select none
    font-size 0

  .site-name-inner
    display inline-block
    padding 0 $spacer-3
    font-size $h3-size
    background $gray-dark
    color $white
    font-family 'justpeth'
    width 72px
    height 36px

  .site-name-text
    line-height 36px

.poetry
  padding $spacer-3 $spacer-3 $spacer-4
  line-height 1.5
  color: $gray-light
  font-size $font-size-small
  line-height 2
  text-align center
  min-height 88px

.fade-enter, .fade-appear
  opacity 0.01
  transform translateY(-30px)

.fade-enter-active, .fade-appear-active
  opacity 1
  transform translateY(0)
  transition all 300ms ease-out